<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="addMovie" method="POST">
    <p>Movie Title: <input type="text" name="movieTitle" /></p>
    <p>Maturity Rating: <input type="text" name="maturityRating" /></p>
    <p>Genre: <input type="text" name="genre" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<a href="/">Home</a>
</body>
</html>